---
title: Articles
---

= partial 'shared/title', locals: { offset: 3, medium_offset: 1 }  do
  %h1.title--header Articles
  %p.title--meta
    Longform posts written over the last few years organized by
    %a.category--personal{ href: tag_path('Personal', 'articles') } personal
    and
    = succeed "." do
      %a.category--technical{ href: tag_path('Technical', 'articles') } technical
= partial 'articles/by_year', locals: { articles: blog('articles').articles }
