---
title: Goals
layout: about
---
= partial 'shared/title' do
  %h1.title--header Goals
  %p.title--description I'm a little goal oriented
  = partial 'about/breadcrumbs', locals: { current: 'Goals' }

= partial 'shared/content' do
  %p
    For a long time I've been writing down goals. I think it started with new
    years resolutions, then it became monthly resolutions. Lately I've been
    doing monthly goals where I list out my top 25 goals and organize them by
    priority, then pick a few to tackle for the month. On the first of any
    month, I'll probably be doing this.

  %h2 Professional
  %p Mostly programming related goals.
  %ul.no-bullet
    %li
      Teach a course at Code School each year
      %ul.no-bullet
        %li
          2013 -
          = succeed ',' do
            %a.is-completed{href: 'https://www.codeschool.com/courses/try-jquery'} Try jQuery
          %a.is-completed{href: 'https://www.codeschool.com/courses/jquery-the-return-flight'} jQuery: The Return Flight
        %li
          2014 -
          %a.is-completed{href: 'https://www.codeschool.com/courses/warming-up-with-ember-js'} Warming Up With Ember.js
        %li
          2015 -
          %a.is-completed{href: 'https://www.codeschool.com/courses/blasting-off-with-bootstrap'} Blasting Off With Bootstrap
        %li
          Next - PHP/MySQL? Foundation? D3? Angular 2?
    %li Familiar with ES2015
    %li Familiar with React.js
    %li Familiar with Foundation
    %li
      %strike Familiar with Neo4j
      %span.is-completed 2015
    %li
      %strike Speak at a Major Conference
      %span.is-completed Spoke at JSConf 2014
    %li
      %strike Familiar with Angular.js
      %span.is-completed 2014
    %li
      %strike Familiar with Ember.js
      %span.is-completed 2013
    %li
      %strike Familiar with Bootstrap
      %span.is-completed 2013
    %li
      %strike Familiar with Sass
      %span.is-completed 2012
    %li
      %strike Familiar with CoffeeScript
      %span.is-completed 2011
    %li
      %strike Familiar with jQuery
      %span.is-completed 2009
    %li
      %strike Familiar with Ruby on Rails
      %span.is-completed 2008
    %li
      %strike Speak at a usergroup
      %span.is-completed 2006

  %a{ name: 'travel'}
  %h2 Travel
  %ul.no-bullet
    %li Stay in a different country for a month
    %li Stay in a different country for a year
    %li
      Americas
      %ul
        %li Visit Vancouver
        %li Visit Portland for a week
        %li Visit Boston for a week
        %li Visit Charleston
        %li Visit Puerto Rico
        %li
          Visit all 50 states
          %span.is-inprogress 40 states down, 10 to go!
        %li
          %strike Visit Montreal
          %span.is-completed Visited in August 2015
        %li
          %strike Visit Chicago
          %span.is-completed Visited in June 2014
        %li
          %strike Visit New York
          %span.is-completed Visited in December 2011
    %li
      Asia
      %ul.no-bullet
        %li Visit Thailand
        %li Visit Singapore
        %li Visit China
        %li Visit Taiwan
        %li Visit Korea
        %li Visit India
        %li Visit Vietnam
        %li
          %strike Visit Japan
          %span.is-completed
            %a{href: '/photos/japan/adam-and-marilyn-go-to-japan'} 2 Week Trip in March/April 2014
    %li
      Europe
      %ul.no-bullet
        %li Visit Iceland
        %li Visit Germany
        %li
          %strike Visit Italy
          %span.is-completed Visited in January 2015
        %li
          %strike Visit France & Paris
          %span.is-completed Visited in December 2012
        %li
          %strike Visit the UK & London
          %span.is-completed Visited in December 2012
        %li
          %strike Visit Amsterdam
          %span.is-completed Visited in December 2012
          %span.is-completed 2015

  %h2 Media
  %ul.no-bullet
    %li
      Read all the books
      %ul.no-bullet
        %li
          Read 100 books in a year
        %li
          Read 75 books in a year
          %span.is-inprogress 2015 is the year
        %li
          %strike Read 50 books in a year
          %span.is-completed 51+ so far in in 2015
        %li
          %strike Read 25 books in a year
          %span.is-completed 45 in 2013
          %span.is-completed 44 in 2014
    %li
      Read all of
      %a{href: 'http://www.npr.org/2011/08/11/139085843/your-picks-top-100-science-fiction-fantasy-books'} NPR's top 100 Sci-Fi/Fantasy Books
      %span.is-inprogress 43 down!
    %li
      Watch the top 250 Movies on the
      %a{href: 'https://docs.google.com/spreadsheets/d/1w10kro-jJ_3ACkVuaEBfKc5vTv9WY_RJ_QPHk7PPUAI/edit?usp=sharing'} IMDB/RottenTomatoes cross movie list
      %span.is-inprogress 116 down!

  %h2 Personal
  %ul.no-bullet
    %li Minimalism - Down to 100 personal possessions


  %h2 Fitness
  %ul.no-bullet
    %li
      %strong Back Squat
      %ul.no-bullet
        %li
          %span.is-completed 200 - July 2012
        %li
          %span.is-completed 225 - November, 2013
        %li
          %span.is-completed 250 - May, 2014
        %li
          %span.is-inprogress 275
        %li
          %span.is-inprogress Goal: 300 (twice my weight)
    %li
      %strong Snatch
      %ul.no-bullet
        %li
          %span.is-completed 125 - August 2015
        %li
          %span.is-inprogress Goal: 150 (bodyweight)
    %li
      %strong Clean and Jerk
      %ul.no-bullet
        %li
          %span.is-completed 175 - July 2015
        %li
          %span.is-inprogress 200
        %li
          %span.is-inprogress Goal: 225 (1.5x bodyweight)
    %li
      %strong Ring Muscle Ups
      %ul.no-bullet
        %li
          %span.is-completed First kipping in October, 2013.
        %li
          %span.is-inprogress Strict muscle up
    %li
      %strong Bar Muscle Ups
      %ul.no-bullet
        %li
          %span.is-completed First kipping in October, 2013.
        %li
          %span.is-inprogress Strict muscle up
    %li
      %strong Run a Mile
      %ul.no-bullet
        %li
          %span.is-completed Under 7 Minutes
        %li
          %span.is-inprogress Under 6 minutes
    %li
      %strong Handstand Walks
      %ul.no-bullet
        %li
          %span.is-completed 6m walk
        %li
          %span.is-completed 1 minute hold
        %li
          %span.is-inprogress 5 minute hold
        %li
          %span.is-inprogress 50m walk!
