---
title: Goals
---


.row
  .large-12.columns
    %h1 Goals

.row
  %h2 Professional
  %ul
    %li Familiar with ES2015
    %li Familiar with React.js
    %li Familiar with Foundation
    %li
      Familiar with Neo4j
      %span.is-completed 2015
    %li
      %strike Teach a course at Code School
      %span
        %a{href: '/japan'} 2012 - Rspec
        ,
        %a{href: '/japan'} 2013 - Try jQuery
        ,
        %a{href: '/japan'} 2014 - Warming Up With Ember.js
        ,
        %a{href: '/japan'} 2015 - Blasting Off With Bootstrap
    %li
      %strike Speak at a Major Conference
      %span.is-completed
        Spoke at JSConf 2014
    %li
      %strike Familiar with Angular.js
      %span.is-completed 2014
    %li
      %strike Familiar with Ember.js
      %span.is-completed 2013
    %li
      %strike Familiar with Bootstrap
      %span.is-completed 2013
    %li
      %strike Familiar with Sass
      %span.is-completed 2012
    %li
      %strike Familiar with CoffeeScript
      %span.is-completed 2011
    %li
      %strike Familiar with jQuery
      %span.is-completed 2009
    %li
      %strike Familiar with Ruby on Rails
      %span.is-completed 2008
    %li
      %strike Speak at a usergroup
.row
  %h2 Travel
  %ul
    %li
      Visit all 50 states
      %span.is-inprogress 40 states down, 10 to go!
    %li Stay in a different country for a month
    %li Visit Thailand
    %li Visit Singapore
    %li Visit China
    %li Visit Taiwan
    %li Visit Iceland
    %li Visit Vancouver
    %li
      %strike Visit Japan
      %span.is-completed
        %a{href: '/photos/japan'} 2 Week Trip in March/April 2014
    %li
      %strike Visit Rome
      %span.is-completed
        %a{href: '/photos/rome'} Visited in January 2015

.row
  %h2 Media
  %ul
    %li Read 100 books in a year
    %li
      Read all of NPR's top 100 Sci-Fi/Fantasy
      %span.is-inprogress 43 down!
    %li
      Watch the top 250 Movies on the IMDB/RottenTomatoes cross movie list
      %span.is-inprogress 116 down!



.row
  %h2 Fitness
  %ul
    %li
      Back Squat twice my weight (150lb)
      %ul
        %li.is-completed 200 - July 2012
        %li.is-completed 225 - November, 2013
        %li.is-completed 250 - May, 2014
        %li.is-inprogress 275
    %li
      Snatch my bodyweight (150lb)
      %ul
        %li.is-inprogress 125
    %li
      Clean and Jerk
      %ul
        %li.is-completed 175 - July 2015
        %li.is-inprogress 200
    %li
      Ring Muscle Ups
      %ul
        %li.is-completed First kipping in October, 2013.
        %li.is-inprogress Strict Muscle Up
    %li
      Bar Muscle Ups
      %ul
        %li.is-completed One in October, 2013.
        %li.is-inprogress Strict Muscle Up
    %li
      Run a Mile
      %ul
        %li.is-completed Under 7 Minutes
        %li.is-inprogress Under 6 minutes
