// type

$body-font-family: "Droid Sans",sans-serif
$paragraph-font-family: $body-font-family
// $font-family-monospace:
$paragraph-line-height: 1.7

$light-blue: #3498db
// $lighter-blue: #a0cfee
// $dark-blue: #1d6fa5
// $darker-blue: #303338


$header-link-gray: #AAA
$dark-blue: #1d6fa5
$darker-blue: #303338
$subtitle-text-color: #999
$title-color: #444


// Color overrides
$secondary-color: #e7e7e7
$alert-color: #f04124
$success-color: #43AC6A
$warning-color: #f08a24
$info-color: #a0d3e8

$anchor-font-color: $primary-color




$code-background-color: $text-color-professional
$code-border-color: $text-color-professional
$code-color: $text-color-professional-hover

// grid

$row-width: 1170px

// top-bar
$topbar-height: rem-calc(70)
$topbar-bg-color: $light-blue
// Disable hamburger
$topbar-breakpoint: 0

$topbar-title-font-size: rem-calc(20)
$topbar-title-weight: 400

$topbar-link-color: $lighter-blue
$topbar-link-color-hover: $white
$topbar-link-bg-hover: $dark-blue
$topbar-link-font-size: rem-calc(20)

$topbar-link-padding: ($topbar-height / 2)



// breadcrumbs
$crumb-bg: transparent
$secondary-color: $light-blue
$crumb-padding: 0
$crumb-border-size: 0
$crumb-font-size: rem-calc(18)
$crumb-font-color: $lighter-blue
$crumb-slash-color: $lighter-blue
$crumb-slash: '>'
$crumb-font-transform: none
$crumb-font-color-current: $lighter-blue





$light-text-color: #a9d3f0
