// type
$header-font-family: "Droid Sans",sans-serif

$white: #fff
$light-blue: #3498db
$lighter-blue: #a0cfee
$dark-blue: #1d6fa5
$darker-blue: #303338

// top-bar
$topbar-height: rem-calc(65)
$topbar-bg-color: $light-blue

$topbar-title-font-size: rem-calc(19)

$topbar-link-color: $lighter-blue
$topbar-link-color-hover: $white
$topbar-link-bg-hover: $dark-blue
$topbar-link-font-size: rem-calc(18)

$topbar-dropdown-bg: $dark-blue
$topbar-dropdown-link-bg: $dark-blue
$topbar-dropdown-link-bg-hover: $light-blue
$topbar-link-padding: ($topbar-height / 2)
