%footer
  .row
    .medium-offset-2.medium-3.columns
      %h2 About
      %p
        Personal blog for Adam Fortuna, a web developer living in
        = succeed '.' do
          %a{href: '/about/orlando'} Orlando, FL
        I Program,
        = succeed ',' do
          %a{href: '/articles/crossfit'} CrossFit
        play ping pong and ultimate frisbee and love trying new food.
    .medium-1.medium-offset-1.columns.end
      %h2 Links
      %ul.no-bullet
        %li
          %a{ href: '/photos'} About
        %li
          %a{ href: '/articles'} Articles
        %li
          %a{ href: '/photos'} Photos
        %li
          %a{ href: 'http://feeds.feedburner.com/adamfortuna'} RSS
    .medium-2.medium-offset-1.columns.end
      %h2 Contact
      %p
        Want to get in touch? The best way is to fill out my
        = succeed '.' do
          %a{ href: 'https://docs.google.com/forms/d/1GmjkT8u3iETk7qXO4-gJkZs4baX5KiaILLkZoABtWh8/viewform' } Contact Me form
