%footer
  .container
    .row
      .offset-md-2.col-md-3
        %h2 About
        %p
          Personal blog for Adam Fortuna, a web developer living in
          = succeed '.' do
            %a{href: '/about/orlando'} Orlando, FL
          I Program,
          = succeed ',' do
            %a{href: '/articles/crossfit'} CrossFit
          play ping pong and ultimate frisbee and love trying new food.
      .col-md-1.offset-md-1
        %h2 Links
        %ul.no-bullet
          %li
            %a{ href: '/photos'} About
          %li
            %a{ href: '/articles'} Articles
          %li
            %a{ href: '/photos'} Photos
          %li
            %a{ href: 'http://feeds.feedburner.com/adamfortuna'} RSS
      .col-md-2.offset-md-1
        %h2 Contact
        %p
          Want to get in touch? The best way is to
          %a{ href: 'http://twitter.com/adamfortuna' } tweet me
          or
          = succeed '.' do
            %a{ href: 'mailto:dyogenez@gmail.com' } email me
