%footer
  .row
    .large-3.columns
      %h2 About
      %p Personal blog for Adam Fortuna, a web developer living in Orlando, FL. I Program, CrossFit, play ping pong and ultimate frisbee and love trying new food.
