.nav-wrapper
  %nav.top-bar{'data-topbar' => '', :role => 'navigation'}
    %ul.title-area
      %li.name
        %h1
          %a.nav--title{href: '/'}= data.config.title
    - if data.config.social.twitter
      %ul.left.twitter
        %li
          %a.twitter{href: "http://twitter.com/#{data.config.social.twitter}", target: '_blank'}
            %i.fi-social-twitter
            %span @adamfortuna

    %section.top-bar-section
      %ul.right.links
        %li
          %a.nav--link{href: '/about'}
            %i.fi-torso.nav--link-icon
            %span.nav--link-text About
        %li
          %a.nav--link{href: '/articles'}
            %i.fi-pencil.nav--link-icon
            %span.nav--link-text Articles
        %li
          %a.nav--link{href: '/photos'}
            %i.fi-camera.nav--link-icon
            %span.nav--link-text Photos
