%nav.navbar.navbar-full
  %button.navbar-toggler.hidden-md-up.pull-right{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#collapsingNavbar' }

  .navbar--title
    %a.navbar-brand{ href: '.' }= data.config.title
    - if data.config.social.twitter
      %a.pull-xs-left.navbar--twitter{href: "http://twitter.com/#{data.config.social.twitter}", target: '_blank'}
        %i.fa.fa-twitter
        %span @adamfortuna

  .collapse.navbar-toggleable-sm{ id: 'collapsingNavbar' }
    %ul.nav.nav-pills.navbar-nav.pull-xs-right{ role: 'navigation' }
      %li.nav-item
        %a.nav-link{ href: '/about' }
          %i.fa.fa-user{ 'aria-hidden': 'true' }
          About
      %li.nav-item
        %a.nav-link{ href: '/articles' }
          %i.fa.fa-pencil{ 'aria-hidden': 'true' }
          Articles
      %li.nav-item
        %a.nav-link{ href: '/photos' }
          %i.fa.fa-camera{ 'aria-hidden': 'true' }
          Photos
