.articles--item
  margin-bottom: 10px

.article--title
  font-size: 2em
  // Smaller title on homepage
  .index &
    font-size: 1.8em
  // Short articles get a smaller size
  .article-tag--short &
    font-size: 1.2em
    font-weight: noraml


.article--link
  color: $paragraph-color
  font-weight: bold
  border: 1px solid $white
  border-radius: 5px
  transition: 0.3s
  padding: 1em 1em 0.5em 1em
  line-height: 1.8em
  position: relative
  &:hover
    background-color: lighten($paragraph-color, 50%)
    color: darken($paragraph-color, 10%)

  // Blue for personal
  .article-tag--personal &
    color: $text-color-personal
    &:hover
      background-color: lighten($text-color-personal, 35%)
      color: darken($text-color-personal, 10%)

  // Green for technical
  .article-tag--technical &
    color: $text-color-professional
    &:hover
      background-color: lighten($text-color-professional, 20%)
      color: darken($text-color-professional, 20%)

.article--meta,
.article--description,
  color: $subtitle-text-color
  font-size: 0.9em
  margin: 0

.articles--for-year
  margin-bottom: 1em


+respond-to($small-breakpoint, max-width)
  .article--title
    font-size: 1.8em
  .articles--for-year
    margin-bottom: 2em
