.gallery
  margin: 0
  padding: 12px 0
  position: relative
  picture
    img
      border: 1px solid #eee
  .full
    + .row
      padding-top: 12px
  .row
    padding-bottom: 12px
    .columns,
    .column
      padding-left: 10px
      padding-right: 10px
