.gallery
  margin: 0
  padding: 12px 0
  position: relative
  img
    border: none
  .full
    + .row
      padding-top: 8px
  .row
    padding-bottom: 8px
    .columns,
    .column
      padding-left: 4px
      padding-right: 4px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
.gallery--video-video
  width: 100%

.gallery--photo
  &.full
    img
      margin: 0 auto
      display: block
      width: 100%

@media only screen and (min-width: 0) and (max-width: $small-breakpoint)
  .gallery
    .row
      padding: 0
    > .gallery--photo,
    > .gallery--video
      padding-top: 8px
      padding-bottom: 8px
  .gallery--photo,
  .gallery--video
    padding-top: 4px
    padding-bottom: 4px
  .gallery--photo-image,
  .gallery--video-video
    width: 100% !important
    height: auto !important

@media only screen and (min-width: $small-breakpoint) and (max-width: $large-breakpoint)
  .gallery--photo-image,
  .gallery--video-video
    height: auto !important
