.index
  .face
    top: 18px
    position: relative
  p.subtitle
    font-size: 1em
    color: #999
    a
      text-decoration: underline

  .author
    p
      line-height: 1.6em
      color: #777

  .articles--list
    padding-right: 2em

  .right-side
    border-left: 1px solid #eee
    padding-left: 3em

  .index--events
    margin: 2em 0
    padding: 2em 0
    border-top: 1px solid #eee

  .photos-list--item
    min-height: 349px

@media only screen and (min-width: 0) and (max-width: $medium-breakpoint)
  .index
    .right-side
      border-left: none
      border-top: 1px solid #eee
      margin-top: 2em
      padding: 0 0.83333rem
      .subtitle
        padding: 2em 0 0

    .photos-list--item
      min-height: 250px

    .index--events
      margin-top: 1em
      padding: 2em 0.83333rem

    .aside-list--item
      margin-bottom: 1em
