.nav-wrapper
  border-top: 4px solid $darker-blue
  .title-area
    a
      &:hover
        color: $white
  .twitter
    left: -18px
    position: relative
    font-size: 20px

    a
      color: $lighter-blue
      &:hover
        color: $white
