/* Navbar */

.navbar
  background-color: $primary-color
  border-top: 5px solid $text-color-personal-medium
  a
    text-decoration: none
    transition: all 0.4s

.navbar--twitter
  color: $navbar-dark-color
  top: -10px
  position: relative
  font-size: 22px
  span
    position: relative
    font-size: .75rem
    visibility: hidden
    opacity: 0
    transition: 0.3s
    top: -3px
    left: -8px
  &:hover
    // color: $white
    span
      visibility: visible
      opacity: 1
      left: 0px
