.title
  background-color: $light-blue
  padding: 2em 0
  margin-bottom: 2em
.title--header
  font-size: 40px
  color: $ligher-blue-text-color
  .article--technical &
    color: $text-color-professional-dark
.title--link
  color: $ligher-blue-text
  font-weight: bold
  text-decoration: underline
  &:hover
    color: $white


.title--text,
.title--meta,
.title--description
  color: $ligher-blue-text-color
  font-size: 1em
  .article--technical &
    color: $text-color-professional-dark
  .category--personal, .category--technical
    text-decoration: underline
.title--author
  a
    color: $ligher-blue-text-color
    text-decoration: underline
    font-weight: bold
    &:hover
      color: $white
.title--description
  font-size: 1.4em
  color: darken($ligher-blue-text-color, 10%)


.title
  .tag--link
    color: $ligher-blue-text-color
    text-decoration: underline
    font-weight: bold
    &:hover
      color: $white
    .article--technical &
      color: $text-color-professional-dark
      &:hover
        color: $white

$nav-border: rgba(0,0,0, 0.5)
$nav-inner: rgba(0,0,0, 0.5)
$nav-darken: rgba(0,0,0, 0.8)
$title-nav-color: darken($white, 15%)
$title-nav-color-hover: darken($white, 35%)
.title--nav
  margin-top: 16px
  border: 3px solid $nav-border
  border-radius: 4px
  color: $title-nav-color
  position: absolute
  right: 25px
  top: 60px
  z-index: 1
  &:hover
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px


.title-nav--list
  visibility: hidden
  opacity: 0
  position: absolute
  border: 3px solid $nav-border
  border-radius: 4px
  left: -3px
  font-size: 14px
  margin-top: -3px
  top: 80px
  transition: 0.3s
  border-top-left-radius: 0px
  border-top-right-radius: 0px

  .title--nav:hover &
    visibility: visible
    opacity: 1
    top: 74px

.title-nav--list-item
  margin: 0
  border-bottom: 1px solid $nav-border
  &:last-child
    border-bottom: none

.title-nav--link
  text-decoration: none
  transition: none
  width: 280px
  padding: 4px 10px
  position: relative
  display: block
  background-color: $nav-inner
  color: $title-nav-color
  &:hover
    background-color: $nav-darken
    color: $title-nav-color-hover

.title-nav--title
  font-size: 1.4em
  font-weight: bold
  display: block
  color: $title-nav-color
  .title-nav--link:hover &
    color: $title-nav-color-hover

.title-nav--description
  font-size: 1em
  font-weight: normal
  color: $title-nav-color
  margin: 0
  .title-nav--link:hover &
    color: $title-nav-color-hover




+respond-to($small-breakpoint, min-width)
  .row
    padding-left: 0
  h1
    font-size: 2em




// Change the color scheme for technical articles in the title bar
.article--technical
  .top-bar
    background-color: $text-color-professional
  .title-area, .twitter
    a
      color: $text-color-professional-dark !important
      &:hover
        color: $white !important
  .top-bar-section,
    li, a
      background-color: $text-color-professional !important
      color: $text-color-professional-dark !important
    a:hover
      background-color: $text-color-professional-dark !important
      color: $white !important
  .title
    background-color: $text-color-professional !important
    h1, .meta, p, .title--description
      color: $text-color-professional-dark !important



.icon--caret
  position: absolute
  cursor: pointer
  top: 12px
  right: 48px
  z-index: 1

.icon--caret:before
  content: ''
  position: absolute
  top: 25%
  left: 12px
  border-top: 12px solid $title-nav-color
  border-left: 12px solid transparent
  border-right: 12px solid transparent
  .title--nav:hover &
    border-top: 12px solid $title-nav-color-hover
