%a{:href => article.url }
  %img{ src: article.data['poster'], alt: article.title }
  .cover
  .meta.row
    .small-12.columns
      %p.article--title= article.title
    .small-9.columns
      %p= article.data['description']
    - if article.data['stats']
      .stats.small-3.columns.text-right
        - if article.data['stats']['photos']
          %span
            %i.fi-camera
            = article.data['stats']['photos']
        - if article.data['stats']['videos']
          %span
            %i.fi-video
            = article.data['stats']['videos']
