%a.photo--link{:href => article.url }
  %img.photo--poster{ src: article.data['poster'], alt: article.title }
  .photo--cover
  .photo--meta
    .small-12.columns
      %p.photo--title= article.title
    .small-9.columns.end
      %p.photo--description= article.data['description']
    = partial 'photos/stats', locals: { article: article }
