---
title: Photos
---

= partial 'shared/title', locals: { offset: 1 }  do
  %h1.title--header Photos
  %p.title--meta
    I've started trying to take more photos. Major travel photo stories on are
    on the left, smaller photo sets for events are on the right.

.row
  .medium-10.medium-offset-1.columns
    %ul.no-bullet.photos-list.photos-list--travel
      - blog('photos').articles.each do |article|
        - if article.tags.include? "Travel"
          %li.photos-list--item
            = partial 'photos/travel', locals: { article: article }

.row
  %ul.medium-10.medium-offset-1.columns.no-bullet.photos-list.photos-list--asides
    - blog('photos').articles.each do |article|
      - if !article.tags.include?("Travel") && !article.tags.include?("Ignore")
        %li.medium-4.columns.photos-list--item.left
          = partial 'photos/event', locals: { article: article }
