@keyframes title
  from
    opacity: 0
    -webkit-transform: translate3d(0, -100%, 0)
    transform: translate3d(0, -100%, 0)

  100%
    opacity: 1
    -webkit-transform: none
    transform: none

.animation--title
  animation-name: title
  animation-duration: 0.8s
  animation-timing-function: ease-in-out
  .is-loaded &
