---
title: Orlando
layout: about
---

= partial 'shared/title' do
  %h1 Orlando
  %p.meta This is a cool place.
  = partial 'about/breadcrumbs', locals: { current: 'Orlando' }

= partial 'shared/content' do
  %p sadfasf
