---
title: About
layout: about
---

= partial 'shared/title' do
  %h1 About page
  %p.meta Orlando Developer with entirely too much time.

= partial 'shared/content' do
  %p
    Hey hey! I'm Adam Fortuna, a guy in Orlando, FL who spends most of my time
    creating courses at Code School -- mostly by coding in Ruby or JavaScript.

  %p
    This site is a collection of whatever I'm interested in -- from development
    posts (in green) to photos to random thoughts (in blue). Here's a few
    areas of my life are my major focuses.


  %h2 Focuses (Foci?)

  %p
    I like to document and organize my
    %a{href: '/about/goals'} Goals
    – somewhat obsessively. I've been doing these on my own in Evernote for a
    while and decided to finally share them.

  %p
    Ten years ago I wouldn't have guessed it, but I love
    = succeed '.' do
      %a{href: '/about/orlando'} Orlando
    I came here for college (UCF, 2000-2005) and hung around for some jobs, but
    now I love it. If you're interested in knowing why, you should read more
    about why
    %a{href: '/about/orlando'} Orlando
    is amazing.

  %p
    Spending all day on a computer, and using the same one for personal use and
    professional use, makes tools (software) essential. There's a few
    %a{href: '/about/tools'} tools I use
    that stand out as the most important.

  %p
    I listen to a
    %i lot
    of audiobooks. I've written about my
    = succeed ',' do
      %a{href: '/articles/audiobooks'} Audiobook Habit
    but I also actively maintain a
    %a{href: '/about/books'} books
    page which shows what I'm currently reading and what I've most recently
    read.

  %p
    Since April 2011, I've been happily working at
    %a{href: '/about/codeschool'} Code School
    working on educational content in the coding world. It's been the job
    of a lifetime so far with new ideas always on the horizon.

  %h2 More Randomness

  %p
    Even though I haven't written articles about these topics, they're very
    important too. :)

  %ul
    %li Have a cute girlfriend and dog
    %li Loves trying new restaurants and food trucks
    %li Mac obsessed geek
    %li Casual console and arcade gamer
    %li Sci-fi, fantasy and anime and general movie fan
    %li Big Sci-fi book reader
    %li CrossFit member
