---
title: About
---

.row
  .large-12.columns
    %h1 About page
    %ul
      %li
        %a{href: '/about/goals'} Goals
      %li
        %a{href: '/about/orlando'} Orlando
      %li
        %a{href: '/about/tools'} Tools I Use
      %li
        %a{href: '/about/books'} Books
      %li
        %a{href: '/about/codeschool'} Code School
