---
title: Books
layout: about
---

= partial 'shared/title' do
  %h1.title--header Books
  %p.title--meta Lots and lots
  = partial 'about/breadcrumbs', locals: { current: 'Code School' }

= partial 'shared/content' do
  %p lots
